.jumbotron {
/*background-image: url("Will Landess Kellogg Picture.jpg");
background-repeat: no-repeat;
background-size: auto 100%;
background-position: left center;*/
color: black;
text-align: center;
font-family: 'Merriweather', serif;
}

.btn-primary {
    color: #fff;
    background-color: navy;
    border-color: navy;
}

.btn-success {
    color: #fff;
    background-color: red;
    border-color: red;
}

#BainText {
  color: red;
  font-weight: bold;
  font-family: arial;
}

#MLBText {
  color: navy;
  font-weight: bold;
  font-family: arial;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-weight: bold;
}

.img-responsive {
  margin: 0 auto;
}

#KelloggPic {
  height: 260px;
  width: 260px;
  border-radius: 15%;
  overflow: hidden;
}
.navbar-brand {
  font-size: 16pt;
  font-weight: bold;
  background-color: #98AFC7;
}

.navbar-nav {
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  font-size: 16pt;
}
