.jumbotron {
/*background-image: url("Will Landess Kellogg Picture.jpg");
background-repeat: no-repeat;
background-size: auto 100%;
background-position: left center;*/
color: black;
text-align: center;
font-family: 'Merriweather', serif;
}

.btn-primary {
    color: #fff;
    background-color: navy;
    border-color: navy;
}

#BainText {
  color: red;
  font-weight: bold;
  font-family: arial;
}

#MLBText {
  color: navy;
  font-weight: bold;
  font-family: arial;
}

h4 {
font-family: 'Montserrat', sans-serif;
color: black;
font-weight: bold;
}

.img-responsive {
    margin: 0 auto;
}
